#body{
  background-color: #caf0f8;
}

#my-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;

  }

  .card:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }

  .text{
    text-decoration: none;
    color: black;
  }

  .text:hover{
    color: green;
  }

  .card-img-top {
    flex-grow: 1;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9999;

  }
  
  #popup-content {
    position: relative;
    margin: 7% auto;
    padding: 20px;
    background: #caf0f8;
    border-radius: 5px;
    width: 50%;
    height: 50%;
  }
  
  #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  #close-btn:hover{
    color: green;
  }

  .navbar-brand:hover{
    color: green;
  }

  #popup-description{
    text-align: initial;
  }

  #popup-rating{
    color: blue;
    text-align: center;
  }

  #popup-price{
    text-align: center;
    color: #0d0d0c;
  }

  .buy_btn{
    
    position: absolute;
    bottom :  10px;
    left: 10px;
    background-color: #70e000;
  }

  .buy_btn:hover{
    background-color: #fee440;
  }
  
  .cart-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fee440;
  }

  .cart-btn:hover{
    background-color: #70e000;
  }

  

  .carousel-inner img {
    height: 400px; 
    width: 170%; 
    object-fit: cover; 
  }
  